.top-container{
    background-color: blue;
    border: 10px solid black;
    padding: 20px;
}
.mid-container{
    background-color: red;
    border: 20px solid black;
    position: absolute;
    top: 267px;
    left: 267px;
}
.low-container{
    background-color: yellow;
    border: 10px solid black;
    position: absolute;
    top: 506px;
    left: 506px;
}
div{
    width: 200px;
    height: 200px;
}